nav {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a,
nav ul li button {
    text-decoration: none;
    color: #007bff;
    border: none;
    background: none;
    cursor: pointer;
}

nav ul li span {
    font-weight: bold;
}
.dashboard-heading {
    text-align: left; /* Align the heading to the left (starting point) */
    margin-left: 20px; /* Optional: Add some margin for better spacing */
}

.dashboard-welcome {
    text-align: center; /* Center-align the paragraph */
    margin-top: 50px; 
    font-size:larger;
}